.abc{
    margin: 10px;
    padding:10px;
    background-color:orange;
    color:white;
    text-decoration: none;
}

.mynav
{
    margin: 10px;
    padding: 5px;
    color: red;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
